services:
  app:
    dns:
      - 8.8.8.8
      - 8.8.4.4
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: yandex_parser
    ports:
      - "8081:8080"
    volumes:
      - ./src:/var/www
    environment:
      - DB_HOST=db
      - DB_DATABASE=laravel
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - REDIS_HOST=redis
    depends_on:
      - db
      - redis
    networks:
      - app-network

  db:
    image: mariadb:10.6
    container_name: yandex_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: yandex_redis
    networks:
      - app-network

volumes:
  dbdata:

networks:
  app-network:
    driver: bridge